{% extends "blogengine/includes/base.html" %}
{% load i18n %}
{% block content %}
<div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>
                {% blocktrans %}
                    C'est le moment de vous exprimer ! Dîtes moi ce que vous avez pensez de ce quickie.
                    Vous pouvez même essayer d'hacker ce petit formulaire, vous verrez que django s'occupe de tout. (Normalement)
                {% endblocktrans %}
            </p>
        </div>
        <form id="create-post-form" action="{% url "create-post" %}" method="POST" class="form-horizontal col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% csrf_token %}
            {% for field in form %}
                <div class="row control-group">
                    <div class="form-group col-xs-offset-1 col-xs-11 floating-label-form-group controls {% if field.errors %}error{% endif %}">

                        <label class="col-sm-2 control-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors  %}
                            <p class="help-block text-danger">
                                {{ field.errors }}

                            </p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <br>
            <div class="row col-md-offset-9 col-md-3 form-group">
                <input type="submit" class="btn btn-default" value="{% trans "Envoyer" %}"/>
            </div>
        </form>
    </div>
{% endblock %}

