{% extends "blogengine/includes/base.html" %}
{% load i18n %}
{% block content %}

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>
                {% blocktrans %}
                    Vous avez détesté la présentation et vous ressentez le besoin de le dire à défaut d'avoir des tomates
                    à jeter sur le conférencier ? Vous avez une âme de styliste et vous voulez changer sa garde de robe
                    ? Ou alors une question sur django ?
                {% endblocktrans %}
                <a href="{% url "create-post" %}">{% trans "Ajoutez vous aussi votre message !" %}</a>
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

            {% for post in posts %}
                <div class="post-preview">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <p class="post-subtitle">{{ post.content }}</p>
                    <p class="post-meta">{% trans "Posté par : " %}{{ post.author }}</p>
                </div>
            {% endfor %}

            <hr>
        </div>
    </div>

    <hr>
{% endblock content %}
    <!-- Footer -->
{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a target="_blank" href="https://twitter.com/juan__wolf">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://github.com/juanwolf/ces2015-django">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">{% trans "Licence IDGAS" %}</p>
                </div>
            </div>
        </div>
    </footer>


{% endblock %}

